
@media screen and (min-width: 1200px) {
    
    header {
        background-color: red;
        display: flex;
    }
 
    a:hover {
        color: #000;
    }

    header h2 {
        color: #fff;
        font-size: 2rem;
        padding: 10px;
    }
 
    header a {
        font-size: 20px;
        margin: 6px;
        padding: 2px;
    }
     
    header nav#direita {
        padding-right: 8px;
 
    }

    #conteudo-basquete {
        display: flex;
        flex-direction: row;
        margin-top: 85px;
    }

    #conteudo-basquete img {
       width: calc(50%);
    }

    #conteudo02-basquete {
        display: flex;
        flex-direction: row;
    }

    #conteudo03-F1 {
        display: flex;
        flex-direction: row;
    }

    #conteudo03-F1 img {
        width: calc(32%);
    }

   #conteudo04-fut {
        display: flex;
        flex-direction: row;
        margin-top: 6%;
   }

   #conteudo04-fut img {
        width: calc(32%);
   }

   #conteudo05-nat {
        display: flex;
        flex-direction: row;
   }

    #conteudo05-nat img {
        width: calc(31.5%);
    }

    #conteudo06-surf img {
        width: 300px;
        margin-left: 15px;
    }

    #titulo-surf {
        display: none;
    }

    #conteudo06-surf {
        display: flex;
        flex-direction: row;
        margin-top: 7%;
    }

    #conteudo06-surf img {
        width: calc(31%);
    }

    h1#titulo-voley, p#titulo-volei {
        display: none;
    }

    #conteudo07-volei {
       display: flex;
       flex-direction: row;
       margin-top: 7%;
    }

    #conteudo07-volei img {
        width: calc(29%);    
    }

    #content-collum {
        display: none;
    }

}

@media screen and (max-width: 1200px) and (min-width: 992px) {

    header {
       background-color: red;
        display: flex;
    }

    a:hover {
        color: #000;
    }

    header h1 {
        font-size: 20px;
        padding-top: 10px;
    }

    header h2 {
        display: none;
    }

    header a {
        font-size: 16px;
        margin: 2px;
        padding: 2px;
    }
    
    header nav#direita {
        padding-right: 8px;

    }

    /* page basquete */

    #conteudo-basquete {
        display: flex;
        flex-direction: column;
        margin-top: 85px;
    }


    #conteudo-basquete img {
        width: auto;
        max-height: 400px;
    } 

    #conteudo03-F1 {
        display: flex;
        flex-direction: column;
    }

    #conteudo03-F1 img {
        width: auto;
        
    }

    #conteudo04-fut {
        display: flex;
        flex-direction: column;
        margin-top: 6%;
    }

    #conteudo04-fut img {
        width: auto;
    }

    h1#titulo, p#sub-titulo {
        display: none;
    }

    #conteudo05-nat {
        margin-top: 7%;
    }

    #conteudo05-nat {
        display: flex;
        flex-direction: column;
    }

    #conteudo05-nat img {
        width: auto;
        
    }

    #titulo-surf {
        display: none;
    }

    #conteudo06-surf {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    #conteudo06-surf img {
        width: auto;
    }

    #conteudo07-volei {
        display: flex;
        flex-direction: column;
    }

    h1#titulo-voley, p#titulo-volei {
        display: none;
    }

    #conteudo07-volei {
       margin-top: 7%;
    }

    #conteudo07-volei img {
        width: auto;
        margin: 9px;
    }

    #content-collum {
        display: none;
    }
}

@media screen and (max-width: 992px) and (min-width: 767px) {

    header {
        background-color: red;
         display: flex;
    }

    a:hover {
        color: #000;
    }

    header {
        display: flex;
        font-size: .5rem;
        font-weight: bold;
        padding: 1px;
    }

    header h1 {
        margin: 2px;
        font-size: 1.3rem;
    }

    header h2 {
        display: none;
    }

    nav a {
        font-size: 1rem;
        font-weight: bold;
        margin: 2px;
        padding: 2px;
    }

    nav#direita {
        display: flex;
    }

    .carrossel {
        width: 90vw;
        height: 70%;
        
    }

    .navegacao {
        margin: 40px;
        width: 90%;
    }

    #conteudo-basquete {
        display: flex;
        flex-direction: column;
        margin-top: 85px;
    }

    #conteudo-basquete img {
       width: calc(100%);
    }

    #conteudo02-basquete {
        display: flex;  
        flex-direction: column; 
    }

    #conteudo02-basquete img {
        width: calc(100%);
    }

    #conteudo03-F1 {
        display: flex;
        flex-direction: row;
    }

    #conteudo03-F1 img {
        width: calc(32%);
    }

    #conteudo04-fut {
        display: flex;
        flex-direction: row;
        margin-top: 9%;
   }

   #conteudo04-fut img {
        width: calc(32%);
   }

    h1#titulo, p#sub-titulo {
        display: none;
    }

    #conteudo05-nat {
        display: flex;
        flex-direction: row;
        margin-top: 10%;
    }

    #conteudo05-nat img {
        width: calc(31%);
    }

    #titulo-surf {
        display: none;
    }

    #conteudo06-surf {
        display: flex;
        flex-direction: row;
        margin-top: 9%;
    }

    #conteudo06-surf img {
        width: calc(31%);
    }

     #conteudo07-volei img {
        width: auto;
        margin: 9px;
    }

    h1#titulo-voley, p#titulo-volei {
        display: none;
    }

    #conteudo07-volei {
        display: flex;
        flex-direction: column;
        margin-top: 8%;
    }

    #conteudo07-volei img {
        width: calc(98%);
    }

    #content-collum {
        display: none;
    }
}

@media screen and (max-width: 767px) and (min-width: 600px ) {
 
    header {
        background-color: red;
         display: flex;
    }

    a:hover {
        color: #000;
    }

    header {
        display: flex;
    }

     header h1 {
         display: block;
         font-size: .9rem;
         font-weight: bold;
     }

     header h2 {
        display: none;
     }
 
     header a {
         font-size: .8rem;
         font-weight: bold;
         margin: 1px;
         padding: 1px;
     }
     
    nav#direita {
        display: flex;
     }

    .carrossel {
        width: 99vw;
        height: 55%;
    }

    .navegacao {
        width: 60%;
        margin-left: 0px;
    }

    #conteudo-basquete {
        display: flex;
        flex-direction: column;
        margin-top: 85px;
    }


    #conteudo-basquete img {
        width: auto;
        max-height: 400px;
    } 

    #conteudo02-basquete {
        display: flex;
        flex-direction: column;
    }

    #conteudo02-basquete img {
        display: none;
        
    }

    #conteudo03-F1 {
        display: flex;
        flex-direction: column;
    }

    #conteudo03-F1 img {
        width: auto;
        
    }

    #conteudo04-fut {
        display: flex;
        flex-direction: column;
        margin-top: 12%;
   }

    #conteudo04-fut img {
        width: calc(98%);
    }

    h1#titulo, p#sub-titulo {
        display: none;
    }

    #conteudo05-nat {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    #conteudo05-nat img {
        width: calc(98%);
    }

    #titulo-surf {
        display: none;
    }

    #conteudo06-surf {
        display: flex;
        flex-direction: column;
        margin-top: 12%;
    }

    #conteudo06-surf img {
        width: calc(98%);
    }

    h1#titulo-voley, p#titulo-volei {
        display: none;
    }

    #conteudo07-volei {
        display: none;
    }

    #conteudo07-volei-1 {
        display: none;
    }

    #conteudo07-volei-collum {
       display: flex;
       flex-direction: column; 
       margin-top: 10%;
    }

    #conteudo07-volei-collum img{
        width: calc(97%);
        border-radius: 5px; 
        margin-left: 1.5%;
    }

    #conteudo07-volei-collum p{
        width: calc(97%);
        border-radius: 5px; 
        box-shadow: 5px 3px rgba(128, 128, 128, 0.438); 
        margin-left: 3%;
        margin-right: 3%; 
        margin-top: 3%; 
    }

    p.content-volei{
        margin-bottom: 3%; 
    }
}


@media screen and (max-width: 600px) {
    header {
        background-color: red;
        display: flex;
        width: 100%;
        height: fit-content;
    }

    a:hover {
        color: #000;
    }
 
    header h1, h2 {
        display: none;
    }

    nav#ancora {
        display: flex;
    }

    nav#ancora a {
        color: #fff;
        font-size: .9rem;
        padding: 1px;
        margin: 1px;
    }
     
    header nav#direita {
        display: none;
    }

    .carrossel {
        width: 99vw;
        height: 55%;
    }

    .navegacao {
        width: 90vw;
        margin-bottom: 60px;
    }

    #conteudo-basquete {
        display: flex;
        flex-direction: column;
        margin-top: 85px;
    }

    #conteudo02-basquete {
        display: flex;
        flex-direction: column;
        margin-top: 85px;
    }

    #conteudo02-basquete img {
       display: none;
    }

    #conteudo-basquete img {
       width: calc(100%);
    }

    #conteudo03-F1 {
        display: flex;
        flex-direction: column;
    }

    #conteudo03-F1 img {
        width: calc(100%);
    }

    #conteudo04-fut {
        display: flex;
        flex-direction: column;
        margin-top: 14%;
   }

   #conteudo04-fut img {
        width: calc(98%);
   }

    h1#titulo, p#sub-titulo {
        display: none;
    }

    #conteudo05-nat {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    #conteudo05-nat img {
        width: calc(98%);
    }    

    #titulo-surf {
        display: none;
    }

    #conteudo06-surf {
        display: flex;
        flex-direction: column;
        margin-top: 12%;
    }

    #conteudo06-surf img {
        width: calc(98%);
    }

    h1#titulo-voley, p#titulo-volei {
        display: none;
    }

    #conteudo07-volei {
        display: none;
    }

    #conteudo07-volei-1 {
        display: none;
    }

    #content-collum{
       display: flex;
       flex-direction: column; 
       margin-top: 10%;
    }

    #conteudo07-volei-collum img{
        width: calc(97%);
        border-radius: 5px; 
        margin-left: 1.5%;
    }

    #conteudo07-volei-collum p{
        border-radius: 5px; 
        box-shadow: 5px 3px rgba(128, 128, 128, 0.438); 
        margin-top: 3%; 
    }

    p.content-volei{ 
        margin-bottom: 3%; 
    }

    /*#conteudo07-volei {
        display: none;
    }

    #conteudo07-volei-1 {
        display: none;
    }

    #conteudo07-volei-collum img{
        width: 380px;
        height: 400px;
        border-radius: 5px; 
        box-shadow: 5px 3px rgba(128, 128, 128, 0.438);
        margin-left: 30px;   
        margin-top: 20px; 
    }*/
}