
@media screen and (min-width: 1200px) {
    
    header {
        background-color: red;
        display: flex;
    }
 
    header h1 {
        display: none;
    }

    header h2 {
        color: #fff;
        font-size: 2rem;
        padding: 10px;
    }
 
    header a {
        font-size: 20px;
        margin: 6px;
        padding: 2px;
    }
     
    header nav#direita {
        padding-right: 8px;
 
    }

    #conteudo03-F1 img {
        width: 300px;
        
    }

    #conteudo04-fut img {
        width: 300px;
    }

    #conteudo05-nat img {
        width: 300px;
        margin-left: 15px;
    }

    #conteudo06-surf img {
        width: 300px;
        margin-left: 15px;
    }

    #conteudo07-volei img {
        width: 300px;
        margin-left: 15px;
    }

    #content-collum {
        display: none;
    }

}

@media screen and (max-width: 1200px) and (min-width: 992px) {

    header {
       background-color: purple;
        display: flex;
    }

    header h1 {
        font-size: 20px;
        padding-top: 10px;
    }

    header h2 {
        display: none;
    }

    header a {
        font-size: 16px;
        margin: 2px;
        padding: 2px;
    }
    
    header nav#direita {
        padding-right: 8px;

    }

    /* page basquete */

    #conteudo-basquete {
        display: flex;
        flex-direction: column;
        margin-top: 85px;
    }


    #conteudo-basquete img {
        width: auto;
        max-height: 400px;
    } 

    #conteudo03-F1 {
        display: flex;
        flex-direction: column;
    }

    #conteudo03-F1 img {
        width: auto;
        
    }

    #conteudo04-fut {
        display: flex;
        flex-direction: column;
    }

    #conteudo04-fut img {
        width: auto;
    }

    #conteudo05-nat {
        display: flex;
        flex-direction: column;
    }

    #conteudo05-nat img {
        width: auto;
        
    }

    #conteudo06-surf {
        display: flex;
        flex-direction: column;
    }

    #conteudo06-surf img {
        width: auto;
    }

    #conteudo07-volei {
        display: flex;
        flex-direction: column;
    }

    #conteudo07-volei img {
        width: auto;
        margin: 9px;
    }

    #content-collum {
        display: none;
    }
}

@media screen and (max-width: 992px) and (min-width: 767px) {

    header {
        background-color: green;
         display: flex;
    }

    header {
        display: flex;
        font-size: .5rem;
        font-weight: bold;
        margin: 1px;
        padding: 1px;
    }

    header h1 {
        margin: 2px;
        font-size: 1.3rem;
    }

    header h2 {
        display: none;
    }

    nav a {
        font-size: 1rem;
        font-weight: bold;
        margin: 2px;
        padding: 2px;
    }

    nav#direita {
        display: flex;
    }

    .carrossel {
        width: 90vw;
        height: 70%;
        
    }

    .navegacao {
        margin: 40px;
        width: 90%;
    }

    #conteudo07-volei {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #conteudo07-volei img {
        width: 700px;
    }

    #content-collum {
        display: none;
    }
}

@media screen and (max-width: 767px) and (min-width: 600px ) {
 
    header {
        background-color: blue;
         display: flex;
    }

    header {
        display: flex;
    }

     header h1 {
         display: block;
         font-size: .9rem;
         font-weight: bold;
     }

     header h2 {
        display: none;
     }
 
     header a {
         font-size: .8rem;
         font-weight: bold;
         margin: 1px;
         padding: 1px;
     }
     
    nav#direita {
        display: flex;
     }

    .carrossel {
        width: 99vw;
        height: 55%;
    }

    .navegacao {
        width: 60%;
        margin-left: 0px;
    }

    #conteudo-basquete {
        display: flex;
        flex-direction: column;
        margin-top: 85px;
    }


    #conteudo-basquete img {
        width: auto;
        max-height: 400px;
    } 

    #conteudo02-basquete {
        display: flex;
        flex-direction: column;
    }

    #conteudo02-basquete img {
        display: none;
        
    }

    #conteudo03-F1 {
        display: flex;
        flex-direction: column;
    }

    #conteudo03-F1 img {
        width: auto;
        
    }

    #conteudo04-fut {
        display: flex;
        flex-direction: column;
    }

    #conteudo04-fut img {
        width: auto;
    }

    #conteudo05-nat {
        display: flex;
        flex-direction: column;
    }

    #conteudo05-nat img {
        width: auto;
        
    }

    #conteudo06-surf {
        display: flex;
        flex-direction: column;
    }

    #conteudo06-surf img {
        width: auto;
    }


    #conteudo07-volei {
        display: flex;
        flex-direction: column;
    }

    #conteudo07-volei img {
        width: auto;
        margin: 9px;
    }

    #conteudo07-volei {
        display: none;
    }

    #conteudo07-volei-1 {
        display: none;
    }

    #conteudo07-volei-collum img{
        width: 520px;
        height: 400px;
        border-radius: 5px; 
        box-shadow: 5px 3px rgba(128, 128, 128, 0.438);
        margin-left: 45px;   
        margin-top: 20px; 
    }
}


@media screen and (max-width: 600px) {
    header {
        background-color: aqua;
        display: flex;
        width: 100%;
        height: fit-content;
    }
 
    header h1, h2 {
        display: none;
    }

    nav#ancora {
        display: flex;
    }

    nav#ancora a {
        color: #000;
        font-size: 20px;
        padding: 1px;
        margin: 1px;
    }
     
    header nav#direita {
        display: none;
    }

    .carrossel {
        width: 99vw;
        height: 55%;
    }

    .navegacao {
        width: 90vw;
        margin-bottom: 60px;
    }

    #conteudo07-volei {
        display: none;
    }

    #conteudo07-volei-1 {
        display: none;
    }

    #conteudo07-volei-collum img{
        width: 380px;
        height: 400px;
        border-radius: 5px; 
        box-shadow: 5px 3px rgba(128, 128, 128, 0.438);
        margin-left: 30px;   
        margin-top: 20px; 
    }
}